.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #781010;
    color: white;  
    height: 100%;
    min-height: 787px;
}
.container2 p{
    font-size: 15px;
    text-align: center;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #781010;
    color: white;  
    gap: 30px;
}
.container2 button{
    margin: 0px 0px 0px 100px;
}
.reason{
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 100px;
    width: 300px;
}
.container2 button{
    background-color: white;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    height: 40px;
    width: 90px;
}
.form{
    background-color: #781010;
    padding:70px 70px 70px 100px;
}
.input{
    border: 3px solid black;
    background-color: white;
    border-radius:10px;
    height: 50px;   
    width: 300px;
    color: black;
}
.radio{
    height: 20px;
    width: 20px;
}
.option{
    text-align: center;
    justify-content: center;
}